body {
    font-family: 'Poppins',
        sans-serif;
}

.container {
    background-image: linear-gradient(rgba(36, 35, 35, 0.5), #5d7c7b), url(images/donation2.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    margin-left: 1%;
    margin: 1%;

}

.container h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    padding-top: 95px;
}

.container p {
    color: white;
    text-align: center;
    margin-bottom: 30px;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    margin-left: 45%;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    color: white;
}

.header h2 {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 45px;
}



.header p {
    color: black;
    text-align: center;
}

.flexible {
    display: flex;
    margin-left: 25%;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 5%;

}

.amount1 {
    width: 10%;
    background-color: antiquewhite;
    padding-left: 30px;
    border-radius: 10px;
    margin-right: 10px;
}

.amount2 {
    width: 10%;
    background-color: antiquewhite;
    padding-left: 30px;
    border-radius: 10px;
    margin-right: 10px;
}

.amount3 {
    width: 10%;
    background-color: antiquewhite;
    padding-left: 30px;
    border-radius: 10px;
    margin-right: 10px;
    color: red;
    border: solid red;
    border-width: 2px;
}

.amount4 {
    width: 10%;
    background-color: antiquewhite;
    padding-left: 30px;
    border-radius: 10px;
    margin-right: 10px;
    padding-right: 10px;
}

.amount5 {
    width: 10%;
    background-color: antiquewhite;
    padding-left: 30px;
    border-radius: 10px;
    margin-right: 10px;
    padding-right: 20px;
}

.other-amount {
    text-align: center;
    color: burlywood;


}

#horizontal {
    margin-left: 25%;
    margin-right: 20.5%;
    margin-bottom: 3%;

}

.our-donate {
    text-align: center;
}

.our-donate h1 {
    font-weight: bolder;
    font-size: 45px;
    margin-top: 8%;
}

.donation-plan {
    display: flex;
    width: 100%;
    margin-bottom: 12%;

}

.food1 {
    background-color: aquamarine;
    margin-left: 10%;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 15px;
    border-radius: 10px;
}

.food2 {
    background-color: bisque;
    margin-left: 3%;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 15px;
    border-radius: 10px;
}

.food3 {
    background-color: burlywood;
    margin-left: 3%;
    margin-right: 10%;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 15px;
    border-radius: 10px;
}

.supplies {
    display: flex;
    margin-left: 7%;
    margin-right: 38%;

}

.children {
    width: 45%;
    padding-left: 5%;

}

.children img {
    height: 45%;


}


#link-button {
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    margin-left: 0%;

    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    color: white;
}